{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="ALBA3K" />
    <meta name="description" content="room booking system, hotel, holiday">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>MENDO.CLICK | room booking system</title>

    <link href="{% static '/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static '/css/style.css' %}" rel="stylesheet">
    <link href="{% static '/css/fonts.css' %}" rel="stylesheet">
    <link href="css/fonts.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/hotel.css' %}" media="screen" />
</head>