{% load static %}

<section>
    <div class="container">
        <div class="text-center">
            <h2 class="text-medium m-t-0">Добро пожаловать в отель высшего класса</h2>
            <div class="seperator"><i class="fa fa-dot-circle-o"></i></div>
            <p class="lead text-left">Отель “MENDO” это прекрасное место для Вашего отдыха. Расположен он в
                самом центре города, всего в 20 минутах ходьбы от железнодорожного вокзала и основных
                достопримечательностей города. Номерной фонд составляют <strong>{{ total_room }}</strong> номера, включая номера категории
                <mark>lux</mark>, <mark>premium</mark>, <mark>standart</mark> и <mark>econom</mark>.
            </p>
            <p class="lead text-left">Гостиница готова удовлетворить требования самых изысканных гостей. Каждый
                номер оснащен современным оборудованием и имеет все необходимое для плодотворной работы и
                полноценного отдыха.</p>
            <p class="lead text-left">К услугам гостей нашего отеля: обслуживание в номерах, камера хранения,
                прачечная и доставка одежды в химчистку города, рестораны, бары, конференц-услуги, фитнес-центр,
                бизнес-центр, салон красоты, прокат и аренда автомобилей.</p>
            <p class="lead text-left">Мы надеемся, что перечисленные выше услуги сделают ваше пребывание в отеле
                удобным и приятным.</p>
        </div>
        <div class="seperator"><i class="fa fa-check-circle-o"></i></div>
        <div class="row m-t-60">
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="0">
                <i class="fa fa-coffee fa-2x"></i>
                <h4>Ресторан</h4>
                <p>Отличный сервис и изысканный дизайн, приятное звучание живой музыки в вечернее время и
                    шикарный вид из окна.</p>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="200">
                <i class="fa fa-beer fa-2x"></i>
                <h4>Коктейль - бар</h4>
                <p>Здесь Вы можете приятно провести время, наслаждаясь отличным качественным кофе в ожидании
                    деловых партнеров.</p>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="400">
                <i class="fa fa-shipping-fast fa-2x"></i>
                <h4>Транспортные услуги</h4>
                <p>Трансферы в аэропорт, железнодорожный вокзал, автовокзал, по городу, а также услуги аренды и
                    проката автомобилей.</p>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="600">
                <i class="fa fa-fax fa-2x"></i>
                <h4>Бизнес центр</h4>
                <p>Бизнес-центр предлагает широкий выбор услуг, которые могут помочь Вам в решении деловых
                    задач.</p>
            </div>
        </div>
        <div class="row m-t-60">
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="800">
                <i class="fa fa-expand fa-2x"></i>
                <h4>Аренда офисов</h4>
                <p>Услуги аренды офисных помещений в бизнес-центре отеля. Имеется платный
                    круглосуточно охраняемый паркинг.</p>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1000">
                <i class="fa fa-cut fa-2x"></i>
                <h4>Салон красоты</h4>
                <p>Салон красоты предлагает широкий спектр парикмахерских услуг, маникюр, педикюр,
                    а также услуги косметолога.</p>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1200">
                <i class="fa fa-lock fa-2x"></i>
                <h4>Охраняемая стоянка</h4>
                <p>Для гостей, проживающих в отеле, место на стоянке предоставляется без дополнительной
                    оплаты.</p>
            </div>
            <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1400">
                <i class="fa fa-hands-helping fa-2x"></i>
                <h4>Консьерж сервис</h4>
                <p>Рабочее место администратора по работе с гостями находится в лобби отеля. Помощь
                    в оказании услуг.</p>
            </div>
        </div>
        <div class="seperator"><i class="fa fa-check-circle-o"></i></div>
    </div>
</section>