{% load static %}

<section class="background-grey p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-medium">Меню</div>
                <p class="lead">
                    Меню нашего первоклассного ресторана
                </p>

                <div class="tabs p-r-20">
                    <ul class="nav nav-tabs nav-justified text-left nav-fill" id="myTab">
                        <li class="nav-item"><a href="#day1" class="nav-link active" data-toggle="tab"
                                aria-selected="true">
                                <strong><span class="badge badge-primary">Пн</span></strong><br>31.10.2022</a>
                        </li>

                        <li class="nav-item"><a href="#day2" class="nav-link" data-toggle="tab">
                                <strong><span class="badge badge-primary">Вт</span></strong><br>01.11.2022</a>
                        </li>

                        <li class="nav-item"><a href="#day3" class="nav-link" data-toggle="tab">
                                <strong><span class="badge badge-primary">Ср</span></strong><br>02.11.2022</a>
                        </li>

                        <li class="nav-item"><a href="#day4" class="nav-link" data-toggle="tab">
                                <strong><span class="badge badge-primary">Чт</span></strong><br>03.11.2022</a>
                        </li>

                        <li class="nav-item"><a href="#day5" class="nav-link" data-toggle="tab">
                                <strong><span class="badge badge-primary">Пт</span></strong><br>04.11.2022</a>
                        </li>

                        <li class="nav-item"><a href="#day6" class="nav-link" data-toggle="tab">
                                <strong><span class="badge badge-danger">Сб</span></strong><br>05.11.2022</a>
                        </li>

                        <li class="nav-item"><a href="#day7" class="nav-link" data-toggle="tab">
                                <strong><span class="badge badge-danger">Вс</span></strong><br>06.11.2022</a>
                        </li>
                    </ul>
                    <div class="tab-content">

                        <div id="day1" class="tab-pane fade show active">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: овсянка с карамельными яблоками.
                                    </li>
                                    <li><i class="fas fa-utensils"></i>Обед: красный борщ + булгур в сливках.
                                    </li>
                                    <li><i class="fas fa-utensils"></i>Полдник: хачапури с творогом на
                                        сковороде.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: рагу с курицей, картофелем и нутом.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="day2" class="tab-pane fade">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: яйцо бенедикт на тосте.</li>
                                    <li><i class="fas fa-utensils"></i>Обед: вчерашний борщ + салат с кольраби.
                                    </li>
                                    <li><i class="fas fa-utensils"></i>Полдник: курник.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: форель с рисом овощами.</li>
                                </ul>
                            </div>
                        </div>

                        <div id="day3" class="tab-pane fade">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: сырники с тыквенным пюре.</li>
                                    <li><i class="fas fa-utensils"></i>Обед: гречка с говядиной и крем-супом из
                                        тыквы.</li>
                                    <li><i class="fas fa-utensils"></i>Полдник: фруктовый боул с бананом.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: картофельная запеканка с ветчиной.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div id="day4" class="tab-pane fade">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: манная каша с маслом.</li>
                                    <li><i class="fas fa-utensils"></i>Обед: томатный рассольник + лазанья с
                                        грибами.</li>
                                    <li><i class="fas fa-utensils"></i>Полдник: лимонный кекс.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: гуляш с солеными огурцами и
                                        перловка.</li>
                                </ul>
                            </div>
                        </div>

                        <div id="day5" class="tab-pane fade">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: французский омлет из белков.
                                    </li>
                                    <li><i class="fas fa-utensils"></i>Обед: вчерашний рассольник + картофельное
                                        пюре с котлетой.</li>
                                    <li><i class="fas fa-utensils"></i>Полдник: пудинг с малиной и чиа.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: бурый рис с фаршем.</li>
                                </ul>
                            </div>
                        </div>

                        <div id="day6" class="tab-pane fade">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: блинчики с творогом.</li>
                                    <li><i class="fas fa-utensils"></i>Обед: куриный бульон с лапшой и капустный
                                        пирог.</li>
                                    <li><i class="fas fa-utensils"></i>Полдник: фруктовый салат на греческом
                                        йогурте.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: паста с морепродуктами.</li>
                                </ul>
                            </div>
                        </div>

                        <div id="day7" class="tab-pane fade">
                            <div class="p-10 border-bottom">
                                <ul class="list-icon list-icon-colored">
                                    <li><i class="fas fa-utensils"></i>Завтрак: сэндвич с семгой и творожным
                                        сыром.</li>
                                    <li><i class="fas fa-utensils"></i>Обед: молочный суп с вермишелью и пшенная
                                        каша в горшочке.</li>
                                    <li><i class="fas fa-utensils"></i>Полдник: осетинский пирог с мясом.</li>
                                    <li><i class="fas fa-utensils"></i>Ужин: кабачки, фаршированные творогом.
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>