{% load static %}

<div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-height-xs="360">
    <div class="slide kenburns" data-bg-parallax="{% static 'images/slider/8.jpg' %}">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="slide-captions text-light">

                <span data-animate="fadeInUp" data-animate-delay="300" class="strong"><a href="#" class="business"><span
                            class="business">Номерной фонд</span></a>
                </span>
                <h1 data-animate="fadeInUp" data-animate-delay="600">Наши первоклассные номера, <br>к Вашим услугам</h1>
                <div data-animate="fadeInUp" data-animate-delay="900">

                </div>

                <div class="row" style="padding-top:14%;">
                    <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1200">
                        <h4>Великолепная обзорность</h4>
                        <p>Из окон отеля открывается великолепный панорамный вид на современную часть города.</p>
                    </div>
                    <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1500">
                        <h4>Качественный дизайн номеров</h4>
                        <p>Номера отеля «MENDO» оформлены и обставлены мебелью из темного дерева в современном стиле.
                        </p>
                    </div>
                    <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="1800">
                        <h4>Полное оснащение номеров</h4>
                        <p>Все номера оснащены кондиционером, тв, необходимыми туалетными принадлежностями.</p>
                    </div>
                    <div class="col-lg-3" data-animate="fadeInUp" data-animate-delay="2100">
                        <h4>Высочайший комфорт для гостей</h4>
                        <p>В ресторане сервируется сытный завтрак и подаются блюда европейской и национальных кухонь.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>