{% extends 'layouts/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<section class="fullscreen" class="p-t-150 p-b-200" div data-bg-image="{% static 'images/slider/back_2.jpg' %}">
  <div class="container">
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-5 center p-50 background-white b-r-6">
          <h3>Вход в аккаунт пользователя</h3>

          <div class="form-group">
            {{ form|crispy }}
          </div>

          <div class="form-group form-inline text-left">
            <div class="form-check">
            </div>
          </div>

          <div class="text-left form-group">
            <button class="btn btn-outline" type="submit"><i class="fa fa-user"></i> Войти</button>
          </div>

          <p class="small">У вас нет аккаунта? <a href="{% url 'register' %}">Регистрация нового аккаунта</a>
          </p>
        </div>
      </div>
    </form>
  </div>
  </div>
</section>

{% include "includes/footer.html" %}

{% include "includes/scripts.html" %}

{% endblock content %}